@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">tempdata count:<span style="color:red">@ViewBag.countx</span> </h1>
<h1 class="display-4">tempdata count:<span style="color:red">@TempData.Peek("Count")</span> </h1>

